<!DOCTYPE html>
<html>
  <head>
    <title>Referral App</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to 'Clear Sky', root_path, class: 'navbar-brand' %>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <%= yield %>
  </body>
</html>
